# Enable rewrite engine
RewriteEngine On

# Remove index.html
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^(.*)index\.html$ /$1 [R=301,L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L]




Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

# Redirect /index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Remove .html extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Internally rewrite URLs without .html to actual .html files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.html [L]

