@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgb(29 30 33);
}

html.no-scroll {
    overflow: hidden;
}

:root {
    --color-primary: #fff;
    --color-secondary: #222328;
    --color-text: #fafae5;
    --typography-primary-font-weight: 700;
    --typography-secondary-font-weight: 400;
    --typography-text-font-weight: 400;
    --typography-accent-font-weight: 700;
    --woocommerce: transparent;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: transparent;
    --wc-primary-text: white;
    --wc-secondary: #ebe9eb;
    --wc-secondary-text: #515151;
    --wc-highlight: #77a464;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--color-secondary);
    margin: 0;
    overflow-x: hidden;
}
  
body, button, input, select, textarea {
    font-family: 'Space Mono', monospace !important;
    font-size: 11px;
    font-weight: 400;
    line-height: 2.14286;
    color: var(--color-text);
    word-wrap: break-word;
}

.draggable {
    touch-action: none;
    user-select: none;
}

img.refferal_badge {
    visibility: hidden;
}

/* Text transforms for menus */
.left-menu a, .right-menu a, .mobile-menu a {
    text-transform: uppercase;
}